    body{
    	margin: 0px;
    	padding: 0px;
		background: #DDD;
		background-image:url('../img/homepage-bg.jpg');
		background-repeat:no-repeat;
		
    }

    label{
   	  display: block;
   	  color: steelblue;
    }

    .message p{
    	color: red;
    	font: 16px lucida, serif, sans-serif;
    }


    /*@media only screen and (min-width: 751px){
    	#login_section{
	    	width: 400px;
			  margin-top:120px;
			  margin-left: auto;
			  margin-right: auto;
			  margin-bottom:200px;
			
	    	background: #DDD;  
	    	box-shadow: 0px 10px 10px -6px #000;
	    	-webkit-border-radius: 10px;
	    	-moz-border-radius: 10px;
	    	border-radius: 10px;
					
			}

		  .ui_form{
		    padding:10px 30px 20px 30px;

		   }
		

       .login_header{
       	  width: 100%;
    	    height: 50px;
    	    background: steelblue;
    	    -webkit-border-radius: 8px 8px 0px 0px;
    	    -moz-border-radius: 8px 8px 0px 0px;
    	     border-radius: 8px 8px 0px 0px;
			     color:#FFFFFF;
			     margin-top:0px;
				 margin-bottom:25px;
       }

       .login_header img{
    	   width: 70px;
    	   height: 40px;
    	   margin-top: 5px;
        }
    }

     @media only screen and (min-width: 481px) and (max-width: 750px){
    	#login_section{
	    	width: 400px;
	    	padding: 20px;
	    	margin: auto;
	    	margin-top: 100px;
	    	background: #DDD;
	    	box-shadow: 0px 10px 10px -6px #000;
	    	-webkit-border-radius: 10px;
	    	-moz-border-radius: 10px;
	    	border-radius: 10px;
        }

        .login_header{
       	    width: 100%;
    	    height: 40px;
    	    background: #000;
    	    -webkit-border-radius: 8px 8px 0px 0px;
    	    -moz-border-radius: 8px 8px 0px 0px;
    	    border-radius: 8px 8px 0px 0px;
       }

       .login_header img{
    	   width: 60px;
    	   height: 35px;
    	   margin-top: 5px;
        }
    }

    @media only screen and (max-width: 480px){
    	#login_section{
	    	width: 80%;
	    	padding: 20px;
	    	margin: auto;
	    	margin-top: 100px;
	    	background: #DDD;
	    	box-shadow: 0px 10px 10px -6px #000;
	    	-webkit-border-radius: 10px;
	    	-moz-border-radius: 10px;
	    	border-radius: 10px;
        }

        .login_header{
       	    width: 100%;
    	    height: 40px;
    	    background: #000;
    	    -webkit-border-radius: 8px 8px 0px 0px;
    	    -moz-border-radius: 8px 8px 0px 0px;
    	    border-radius: 8px 8px 0px 0px;
       }

       .login_header img{
    	   width: 60px;
    	   height: 35px;
    	   margin-top: 5px;
        }
    }
  
  #reg_number, #password, #email{
       width: 100%;
       margin-top:20px;
	   margin-bottom:25px;
	   height: 40px;
  }*/



  /*.login_header h3{
        margin-left: 150px;
        margin-right: 50px;
        margin-top: 20px;
        font-size: 30px;
		padding-top:10px;
  }

  #login{
  margin-right:110px;
  }

  .ui_form a{
  padding-left:5px;
  }

  .ui_form span{
       float: right;
  }*/
  
  
  /* for modified row*/
  
.row {
    margin-left: 0px;
    margin-right: 0px;
}
.login-div{
    margin:150px auto;
    padding:0px;
    max-width:35%;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px #000;
    
    background-color: #DDDDDD;
}
.login-div-middle{
    margin:120px auto;
    padding:0px;
    max-width:42%;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px #000;
    
    background-color: #DDDDDD;  
}
.login-div-small{
    margin:100px auto;
    padding:0px;
    max-width:50%;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px #000;
    
    background-color: #DDDDDD;    
}
.login-div-xsmall{
    margin:50px auto;
    padding:0px;
    max-width:80%;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px -6px #000;
    
    background-color: #DDDDDD;
}
.login-header{
    text-align: center;
    background-color: steelblue;
    -webkit-border-radius: 8px 8px 0px 0px;
    -moz-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
    
    padding:10px 10px 10px 10px;
}
.login-header h3{
   margin:0px 0px;
   color:white;
  
   font-size:30px;
}
.ui_form{
    margin-top:20px;
    padding:10px 30px 20px 30px;

}
.ui_form a{
  padding-left:5px;
}

.ui_form span{
       float: right;
}
  
#reg_number, #password, #email{
       width: 100%;
       margin-top:20px;
       margin-bottom:25px;
       height: 40px;
}

@media (min-width:470px) and (max-width:800px){
    .ui_form span{
       font-size:9px;
     }
     
    
}
@media (max-width:469px){
    .ui_form span{
       font-size:8px;
     }
     
}


