@charset "UTF-8";

@font-face {
  font-family: "n";
  src:url("../fonts/n.eot");
  src:url("../fonts/n.eot?#iefix") format("embedded-opentype"),
    url("../fonts/n.woff") format("woff"),
    url("../fonts/n.ttf") format("truetype"),
    url("../fonts/n.svg#n") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "n" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="fr-"]:before,
[class*=" fr-"]:before {
  font-family: "n" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fr-bubble-comment-streamline-talk:before {
  content: "a";
}
.fr-torsos-all:before {
  content: "b";
}









