 body{
    	margin: 0px;
    	padding: 0px;
    	background: #EDEDED;
    }

    label{
   	  display: block;
   	  color: steelblue;
    }

    .message p{
    	color: red;
    	font: 16px lucida, serif, sans-serif;
    }

    section{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }


  @media only screen and (min-width: 751px){
    header{
        width: 100%;
        height: 75px;
        background: #000;
        border-bottom: 10px solid steelblue;
    }

    header img{
        margin-top: 5px;
        margin-left: 50px;
        width: 100px;
        height: 60px;
    }
    
    .u_content{
       width: 90%;
       min-width: 750px;
       margin-left: auto;
       margin-right: auto;
       background: #BBB;
    }

    .u_content nav{
        float: left;
    }

    .u_content nav li{
        width: 20%;
        min-width: 200px;
        list-style: none;
        padding: 10px 0px 10px 0px;
        margin: 0px;
        border-bottom: 1px solid steelblue;
    }

    .u_content nav li a{
        text-decoration: none;
    }

    .u_content .u_main_content{
        width: 50%;
        min-width: 320px;
        height: 400px;
        float: left;
        background: #AAA;
    }

    .u_content aside{
         width: 20%;
         min-width: 200px;
         padding: 10px;
         float: left;
         background: #DDD;
    }
    
    .u_content aside img{
        float: right;
        width: 80%;
        height: 150px;
        min-width: 150px;
        margin-bottom: 10px;
    }

    .u_content aside button{
        float: right;
    }

  }
  #drop{
       display:none;
  }
  
  
  
  
  